.developer {
  margin: 4rem 0 2rem;
  background-color: $backgroundSecondary;
  padding: 1rem 0;

  > div {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

    h2 {
      font-size: 1.6rem;
      margin: 1.75rem 0;
    }

    img {
      max-width: 50px;
      border-radius: 999px;
      margin-bottom: 0.2rem;
    }
    h3 {
      font-size: 1.2rem;
      color: rgb(175, 170, 170);
    }

    p {
      margin: 1rem auto;
      max-width: 368px;
      font-size: 0.9rem;
      line-height: 26px;
    }
  }
}
