* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth; // preciso configurar o scroll
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

body {
  background-color: $background;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
