* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth; // preciso configurar o scroll
}

h2 {
  font-size: 1.8rem;
  line-height: 32px;

  span {
    color: $backgroundThird;
  }
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background;
  color: #fff;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;

  &.is-open {
    overflow: hidden;
  }
}

.presentation,
.about,
.services,
.developer {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: $backgroundThird; /* color of the scroll thumb */
  border-radius: 8px; /* roundness of the scroll thumb */
  border: 3px solid none; /* creates padding around scroll thumb */
}

@media (max-width: 1000px) {
  h2 {
    font-size: 1.5rem;
  }
}
